<!DOCTYPE html>
<html lang="{{ app.getLocale }}">
<head>
    <!-- other regular head stuff -->
</head>
<body class="antialiased">
<div class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center sm:pt-0">
    {% for i in 0..10 %}
        * {{ i }}
    {% endfor %}
        <br>
    {% for user in users %}
        Username: {{ user.name }}
        email: {{ user.email }}
    {% endfor %}
    <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
        <div class="mt-8 bg-white dark:bg-gray-800 overflow-hidden shadow sm:rounded-lg">
            <!-- irrelevant content -->

            <div class="ml-4 text-center text-sm text-gray-500 sm:text-right sm:ml-0">
                Laravel v{{ app.version }}
            </div>
        </div>
    </div>
</div>
</body>
</html>
